/* Reset styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 1400px;
    margin: 80px ;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
  }
  
  .settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  label {
    font-size: 18px;
    margin-right: 10px;
  }
  
  input[type="range"] {
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    outline: none;
    margin-right: 10px;
  }
  #arrayLengthValue {
    font-size: 18px;
    font-weight: bold;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #008cba;
    cursor: pointer;
  }

  
  button {
    background-color: #008cba;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #005b79;
  }
  
  .visualization {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    margin-bottom: 30px;
  }
  #bars {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 40px;
    
  }
  .bar {
    width: 25px;
    margin-right: 5px;
    background-color: #008cba;
    border-radius: 5px 5px 0 0;
    transition: all 0.2s ease-in-out;
  }
  .bar-label {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
  }

  @media (max-width: 576px) {
    .container {
      margin: 10px;
      margin-top: 70px;
      padding: 0px;
    }
    h1 {
      font-size: 28px;
    }
    label {
      font-size: 13px;
    }
    input[type="range"] {
      width: 150px;
      height: 10px;
    }
    #bars {
      flex-wrap: wrap;
      
    }
    .bar {
      margin-bottom: 10px;
    }
    button {
        background-color: #008cba;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }
  }
  